@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

h2{
    text-align: center;
    clear: left;
  }
  .first p{
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
  }
  .containers {
    position: relative;
    text-align: center;
    color: white;
  }
  .tableimages {    width: 101%;
    margin: 10px;
    height: 100px;
    border:gray;
  }
  .textinim{
    margin: 3%;
    position: relative;
  }
  .bottom-left {
    position: absolute;
    bottom: 140px;
    left: 38px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .bottom-left-bt {
    position: absolute;
    bottom: 45px;
    left: 38px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .bottom-left2{
      position: absolute;
      bottom: 65px;
      font-size: 20px;
      left: 16px;
      font-family: 'Montserrat', sans-serif;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      padding: 25px;
  }
  .bottom-left3{
      position: absolute;
      bottom: 90px;
      font-size: 20px;
      left: 16px;
      font-family: 'Montserrat', sans-serif;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      padding: 25px;   
  }
  .second p{
      clear: left;
      margin-top: 7em;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.2em;
  }
  
  form { 
    max-width:420px;
    margin:50px auto; 
  }
  
  .feedback-input {
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #59dab3;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }
  
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  [type="submit"] {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    background: #59dab3;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-1px;
    font-weight:700;
  }
  
  [type="submit"]:active{
    font-size: 21px;
  }
  ol {
    list-style: none;
    counter-reset: counter;
  }
    ol li {
    counter-increment: counter;
    }
    ol li::before {
    content: counter(counter) ". ";
    color: #59dab3;
    font-weight: bold;
  }
  hr{
    border-color: #59dab3;
  }
  
  #bg-img {
    height: 550px;
    background-size: cover;
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 15px);
  }
  #title{
    margin-left: 4cm;
    margin-right: 4cm;
  }
  
  .margins{
    margin-left: 4cm;
    margin-right: 4cm;
  }
  
  .centered {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
  }
  
  .navbar {
    padding: 0 0 4.5rem 0;
  }
  
  .nav-item {
    font-weight: bold;
    color: black;
    font-size: 1.2rem;
  }
  
  .nav-link {
    font-size: 1.2rem;
  }
  
  #features {
    margin-top: 30px;
    text-align: center;
  }
  
  #testimonials{
    text-align: center;
    background-image: linear-gradient(gray,black);
    color: white;
    padding: 7% 15%;
  }
  .testimonial-img{
    margin: 20px;
  }
  
  .testp{
    font-size: x-large;
  }
  
  .carousel-item {
    height: 600px;
  }
  
  .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
  }
  
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
   
    .col-md-4 { width: 37,5%; } 
    
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-md-4 { width:  37,5%; } 
  }
  
  #scroll-up {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    opacity: 1;
    z-index: 99999;
    color: white;
    cursor: pointer;
    line-height: 45px;
    text-align: center;
    border-radius: 5px;
    background-color:   rgb(163, 157, 157);
  }
  

.navbar {
    padding: 0 0 4.5rem 0;
  }
  
  .nav-item {
    font-weight: bold;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .nav-link {
    font-size: 1.2rem;
  }
  

*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
}

.form-content .form-items {
    border: 3px solid #fff;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #fff;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content input[type=text], .form-content input[type=text], .form-content input[type=email], .form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    transition: all 0.3s ease;
    margin-top: 16px;
}

.container-fluid{
    align-content: center;
    align-self: center;
    
}

ol {
    list-style: none;
    counter-reset: counter;
  }
    ol li {
    counter-increment: counter;
    }
    ol li::before {
    content: counter(counter) ". ";
    color: #59dab3;
    font-weight: bold;
  }

.form-body{
    background-color: rgb(17, 101, 48) ;
    position: fixed; top : 15%; left : 0,5%; bottom:0,5%
}